@use 'variaveis';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: variaveis.$fundo-primario;
  color: variaveis.$cor-texto-principal;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
