$fundo-primario: #0f0f0f;
$fundo-secundario: #000;
$fundo-card: #1c1c1c;
$fundo-section: #111;

$cor-texto-principal: #f5f5f5;
$cor-texto-secundario: #ccc;
$cor-hover: #7c83ff;

$border-radius: 5px;
$border-radius-card: 8px;

$padding: 1.5rem;